// Font imports 
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi|Source+Sans+Pro');

// Some CSS Resets
html, 
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
// Some global styles
h1,
h2,
h3,
h4 {
  font-family: "Reem Kufi", Helvetica, Arial, sans-serif;
}