// Footer
.sd-footer {
  position: relative;
  height: 350px;
  margin-top: -250px;
  padding-top: 250px;

  &--background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: $PURPLE_1;
    clip-path: polygon(0 100%, 101% 0, 101% 100%, 0 100%);

    @media screen and (max-width: $BP_MD) {
      clip-path: polygon(-100% 100%, 100% 0, 100% 100%, 0 100%);
      height: 125%;
    }
  }
  &--background-helper {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 100px;
    background-color: $WHITE;
    z-index: -1;
  }
  &--hex {
    background-image: url("../images/logo.png");
    background-size: cover;
    height: 246px;
    width: 225px;
    position: absolute;
    top: -40px;
    right: 50px;
    z-index: 1;
  }
  &--info {
    position: relative;
    z-index: 3;
    // height: 50px;
  }
  &--links {
    z-index: 2;
    text-align: center;
    position: relative;
  }
  &--list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px;
      display: inline-block;

      a {
        color: white;
        font-size: 32px;
        border: none;

        &:hover {
          color: $BLUE_1;
        }
      }
    }
  }
}
.sd-spacer--footer {
  height: 200px;
}