.subscribe {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  font-size: 24px;
  line-height: 54px;
  border-radius: $BUTTON_RADIUS; 
  color: $WHITE; 
  box-sizing: border-box; 
  height: 54px; 
  padding: 0 10px;
  cursor: pointer;
  background-color: $WHITE;
  position: relative;
  margin: auto;

  &--email {
    border: 0 !important;
    width: 100%;
    background: transparent !important;
    font-size: 22px;
    line-height: 24px;
    padding: 8px 31% 8px 8px;
    color: $PURPLE_1;
    font-family: $REEM_KUFI;
    margin: 10px;
    margin-left: -10px;
    box-shadow: none !important;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $PURPLE_1;
      font-family: $REEM_KUFI;      
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $PURPLE_1;
      font-family: $REEM_KUFI;      
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $PURPLE_1;
      font-family: $REEM_KUFI;      
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $PURPLE_1;
      font-family: $REEM_KUFI;
    }
  }
  &--button {
    cursor: pointer;
    border: 0;
    position: absolute;
    right: 0;
    min-width: 100%;
    transition: all 0.3s ease-in-out;
    color: $WHITE;
    background-color: $BLUE_1;
    height: 100%; 
    padding: 0;
    line-height: 54px;
    border-radius: $BUTTON_RADIUS;
    font-family: $REEM_KUFI;
    text-transform: uppercase;

    &:hover {
      background-color: $BLUE_1;
    }
  }
}
#updates-email,
#updates-subscribe {
  min-width: 100%;

  &.no-opacity {
    display: none;
  }
}